.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;


}

.scrolled{
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(10px);
}

.netflix-logo {
    position: fixed;
    left: 20px;
    width: 80px;
}

.avatar {
    position: fixed;
    right: 20px;
    width: 30px;

}