.rowpost{
    /* height: 100px; */
    color: #ffffff;
    overflow: hidden;
    /* z-index: 101; */
}

.rowpost .title{
    padding-left: 15px;
    font-family: Arial;
}

.row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    
}

.row::-webkit-scrollbar{
    display: none;
}

.rowpost .image{
    /* height: 10rem; */
    margin: 10px;
    border-radius: 1rem;
    cursor: pointer;
    /* box-shadow: 5px 5px 10px #252525,-5px -5px 10px #303030; */
    transition: all 0.15s ease;
}

.rowpost .image:hover{
    transform :scale(1.07);
    z-index: 7;
    /* transition: all 0.2s ease; */
}


/* .youtube::before{
    content: "X";
    position:relative;
    right: 0;
    left: -100;
    top: 43px;
    font-size: x-large;

} */